body{
  background-color: beige;
    color:black;
   
 

}

#box{
    border: 2px solid black;width: 200px;
    border-radius: 10px;
    
   
   padding: 10px;
   margin-left: 400px;
}
h2,h1{
    text-align: center;
}
input:hover{
    background-color: rgb(213, 219, 219);
}
button{
    background-color: black;
    color: azure;
   text-align: center;
    width: 175px;
}
button:hover{
    background-color: rgb(61, 44, 44);
}

